body{margin: 0px;background-color: #efefef;}
.clearfix::after{content: '';display: block;clear: both;}
a{text-decoration: none}
*{margin: 0;padding: 0px;}
hr{height: 0;border: none;border-top: 1px solid #dedede;}
.topNavBar {padding: 20px 0px;position: fixed;top:0;left:0;width: 100%;transition: all 0.5s;color: #b7b7b7;}
.topNavBar.sticky{background: white;z-index: 1;padding: 10px 0px;box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);color: #3d4451;}
.top{padding: 0px 16px;}
.topNavBar .logo{padding: 3px 0px 4px 0px;font-family: 'Arial Black';font-size: 24px;float: left;}
.topNavBar .logo .rs {color: #E6686A;margin-right: 4px;}
.topNavBar .logo .card {color: #9A9DA2;}
.topNavBar nav{float: right;padding-top: 7px;}
.topNavBar nav>ul{margin: 0px;padding: 0px;}
.topNavBar nav>ul>li{list-style: none;margin-left: 17px;margin-right: 17px;font-weight: bold;float: left;}
.topNavBar nav>ul>li>a{position: relative;;color: inherit;border-bottom: 3px solid transparent;border-top: 3px solid transparent;padding: 5px 0px;display: block;font-size: 12px;}
.topNavBar nav ul>li>a:hover::after{content: '';display: block;position: absolute;top: 100%;left: 0;width: 100%;background: #e06567;height: 3px;animation: menuSlide 0.3s;}
@keyframes menuSlide{0%{width:0;}100%{width:100%;}}
.banner{height: 515px;background-position: center center;background-size: cover;}
.banner .mask{height: 515px;background: rgba(0,0,0,0.8);}
.usercard{max-width: 940px;margin-left: auto;margin-right: auto;background-color: #fff;box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);}
.usercard .welcome{background-color: #e6686a;color: white;display: inline-block;padding: 4px 16px;position: relative;margin-bottom: 10px;}
.usercard .welcome .triangle{display: block;border: 10px solid transparent;border-left-color: #e6686a;width: 0px;border-top-width: 0px;position: absolute;top: 100%;left: 4px;}
.usercard .pictureAndText{padding: 50px 50px;}
.usercard .text{margin-left: 65px;width: 470px;}
.usercard .text h1{margin-top: 18px;}
.usercard .text hr{margin: 20px  0px;}
.usercard dl dt,
.usercard dl dd{float: left;}
.usercard dl dt{width: 30%;padding: 5px  0px;font-weight: bold;}
.usercard dl dd{width: 70%;padding: 5px  0px;color: #9da0a7;}
.usercard > footer.media{background-color: #e6686a;text-align: center;}
.usercard svg{width: 30px;height: 30px;fill: white;vertical-align: top;}
.usercard>footer.media>a{display: inline-block;border-radius: 50%;line-height: 30px;padding: 5px;margin: 16px 60px;}
.usercard>footer.media>a:hover{background-color: #cf5d5f;}
body>main{margin-top: -340px;}
main>.downloadResumeP>.downloadResume{font-size: 14px;text-decoration: none;font-weight: bold;border: 1px solid #cdcfd1;padding: 21px 55px;margin: 32px 0px;display: inline-block;
  text-align: center;line-height: 16px;color: #3d4451;border-radius: 2px;transition: box-shadow 0.3s;}
main>.downloadResumeP>.downloadResume:hover{box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);}
main>.downloadResumeP{text-align: center;display: block;}
main>.selfintroduction{max-width: 940px;margin-left: auto;margin-right: auto;text-align: center;font-weight: bold;line-height: 1.8;font-family: KaiTi;font-size: 22px;}
.skills,
.portfolio{max-width: 940px;margin-left: auto;margin-right: auto;margin-top: 60px;}
.skills>ol{background-color: white;list-style: none;box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);padding: 42px 50px 10px;margin: 30px 0;}
.skills>ol>li{float: left;width: 47%;}
.skills>h2,
.portfolio>h2{text-align: center;color: #3d4451;font-size: 34px;line-height: 1.2;font-weight: 600;}
.skills h3{font-weight: normal;font-size: 14px;line-height: 1.1;padding-right: 40px;}
.skills .progressBar{height: 5px;background: #fae1e1;border-radius: 2px;margin: 4px 0 40px;}
.skills .progress{height: 100%;background: #e6686a;border-radius: 2px;}
.skills > ol > li:nth-child(even){float: right;}
.portfolio{text-align: center;margin-bottom: 100px;}
.portfolio > nav{margin-top: 32px;display: inline-block;vertical-align: top;}
.portfolio > nav > ol{list-style: none;display: inline-block;vertical-align: top;}
.portfolio > nav > ol > li{float: left;margin-left: 40px;cursor: pointer;} 
.portfolio > nav > ol > li:nth-child(1){margin-left: 0;}
.portfolio > nav > .bar{margin: 5px 0 28px 0;height: 5px;background-color: white;border-radius: 2px;}
.portfolio > nav > .bar > .barInner{height: 100%;background-color: #e6686a;border-radius: 2px;transition: all 0.3s;}
.portfolio > nav > .bar.state-1 .barInner{margin-left: 0;width: 32px;}
.portfolio > nav > .bar.state-2 .barInner{margin-left: 71px;width: 33px;}
.portfolio > nav > .bar.state-3 .barInner{margin-left: 143px;width: 92px;}
.portfolio .jobs{position: relative;}
.portfolio .jobs > .big,
.portfolio .jobs > .small{position: absolute;}